#main-menu, #pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}

#main-menu ul, #pagination ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;

}

#main-menu ul li, #pagination ul li {
    color: white;
}

a {
    text-decoration: none;
}

.centered-text {
    text-align: center;
}

a:visited{
    color: black;
}

.event{
    background-color: salmon;
}

.centered-div {
    margin: auto;
}
    
.no-bullets {
    list-style: none;
}
